<% if user_signed_in? %>
  <% if current_user.admin? %>
   <h5><%= link_to 'New events', new_event_path %></h5>
  <% else %>
   <h5><%= link_to "View All Events", events_path %> </h5>
  <% end %>
<% end %>

<% @latest_events.each do |event| %>
   <h2>*<%= link_to event.name, event %><h3>RSVP will be closed in <u><%= difference_of_days_between(event.event_date + 1) %></u></h3></h2>
    <%= event.address %><br>
    <%= time_tag event.event_date %><br>
    Start Time :<b style ="color:green"><%= event.start_time.strftime("%H:%M %p") %> </b><br>
    End Time : <b style ="color:green"><%= event.end_time.strftime("%H:%M %p") %></b><br>
    <%= event.no_of_people %> Peoples <br>
    <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
   <hr>
<% end %>
<br>
