
<h1 style="float:right"><%= link_to 'Add Event', new_event_path %></h1>

<% @events.each do |event| %>
    <h2>*<%= link_to event.name, event %></h2>
       <b><% if current_user.admin? %>
         <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %> </b>
        <h3>RSVP will be closed in <u><%= difference_of_days_between(event.event_date + 1) %></u></h3>
        <%= event.no_of_people %> Peoples <br><br>
        <b><%= link_to "Yes, Coming", event_attedence_path(:user_id => current_user.id, :event_id => event), :method => :post  %> | 
        <%= link_to "Not Coming", event_attedence_path(:user_id => current_user.id, :event_id => event), :method => :post  %> | 
        <%= link_to "May be", event_attedence_path(:user_id => current_user.id, :event_id => event), :method => :post  %></b><br><br>
    <hr>
<% end %>
<br>
<%= paginate @events, :outer_window => 3 %><br><br>

<%= gmaps4rails(@json) %>
