
<% @events.each do |event| %>
    <h2>*<%= link_to event.name, event %></h2> |
         <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <h3>RSVP will be closed in <u><%= difference_of_days_between(event.event_date + 1) %></u></h3>
        <%= event.no_of_people %> Peoples <br><br>
        
          Total attendece :<br>
            <% event.event_attendences.each do |a| %>
             <%= a.user.full_name %>(<b style ="color:green"><%= a.status %></b>) |
            <% end %> <br><br>
   <% if signed_in? %>  
    <% if can? :create, EventAttendence %>
        <b><%= link_to "Yes, Coming", event_attedence_path(:user_id => current_user.id, :event_id => event, :status => "yes, coming"), :method => :post  %> | 
        <%= link_to "Not Coming", event_attedence_path(:user_id => current_user.id, :event_id => event, :status => "not coming"), :method => :post  %> | 
        <%= link_to "May be", event_attedence_path(:user_id => current_user.id, :event_id => event, :status => "may be"), :method => :post  %></b><br><br>
    <% end %>    
   <% else %>
    <b>* Register/Login to join this Event </b>
   <% end %>         
    <hr>
<% end %>
<br>
<%= paginate @events, :outer_window => 3 %><br><br>


