
<!DOCTYPE html>
<html>
<head>
  <title>Groupin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
<link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css'>
  <style>
    body {font-family: 'Ubuntu', sans-serif;font-size:15px;}
    logo{ text-shadow: 0.1em 0.1em 0.05em #333;
    font-family: 'Sarina', cursive; font-size:70px;color:orange}
  </style>
</head>

<body style="padding:40px;">
 <logo> Mumbai On rails </logo><br>
</div>

<hr>
<br><br><br>
<!--<h1><%= controller_name %> / <%= controller.action_name %> </h1>-->
<% flash.each do |type, message| %>
<div class="alert <%= simple_class_for(type) %> fade in">
<%= message %>
</div>
<% end %>
<div id ="content" style="width:610px;">
 <%= yield %>
 <%= yield :scripts %>
</body>
</html>
